
$list-item-color: blueviolet; 


h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    font-size: 20px;
    color: $list-item-color;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

ol{
    font-size: 25px;
    color: $list-item-color;
    font-style: oblique;
}