<h1>Web Development</h1>

<ul>
<li><p>Web Development is one of the types of Software Development.</p></li>
<li><p>It involves the following features from an overview:</p>

<ul>
<li><p>Designing the Frontend or User Interface</p></li>
<li><p>Developing the Frontend or User Interface</p></li>
<li><p>Developing the Backend for the user interactivity and website functionality</p></li>
<li><p>Modelling the database schema and tables</p></li>
<li><p>Wiring the database tables to the backend development for securing and completing the web development of an application</p></li>
</ul></li>
</ul>
